My workflow 17830.json
{
  "name": "My workflow 17830",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1TjifLXrMjmKp6uG7M13WeRyn34ZCYhjZxAAMTYYcCtE",
          "mode": "list",
          "cachedResultName": "Social Media Workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TjifLXrMjmKp6uG7M13WeRyn34ZCYhjZxAAMTYYcCtE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TjifLXrMjmKp6uG7M13WeRyn34ZCYhjZxAAMTYYcCtE/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -208
      ],
      "id": "5a9367d2-e4f3-47af-898f-8c422f2be72c",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "kGOeZNX6wprw6Qpn",
          "name": "Google Sheets Trigger account 4325"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= System: \"You are a social media strategist with expertise in content adaptation\"\n\n  User: \"Analyze this article and create a summary that:\n  1. Captures the 3 most important insights\n  2. Includes any actionable advice or tips\n  3. Maintains the original tone and perspective\n  4. Highlights implications for the target audience\n  5. Stays under 200 words for social media adaptation\n  Article:{{ $json.newslinks }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -192,
        -208
      ],
      "id": "44307ff8-07ea-4241-992e-3e9f252f28be",
      "name": "Summarize Articles"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -192,
        -32
      ],
      "id": "f363c3b2-8157-4c50-b036-889adb91c507",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gcppQy2j6BYsE5ZZ",
          "name": "Google Gemini(PaLM) Api account 10839"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Assume the role of an industry expert and draft a LinkedIn post discussing key points from a news article relevant to artificial intelligence. The post should provide insightful analysis, connect with current industry trends, and encourage professional engagement or discussion. Highlight any notable implications for the industry. Since LinkedIn supports detailed posts, ensure it is informative and structured. Include a proffesional call to action.Here's a summary of the article: {{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        192,
        -208
      ],
      "id": "60c759f5-aba2-4ae7-9cbb-1301f16d741f",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        -16
      ],
      "id": "ca1fba39-51af-4bbc-a8ad-28c6ecbd4b94",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "gcppQy2j6BYsE5ZZ",
          "name": "Google Gemini(PaLM) Api account 10839"
        }
      }
    },
    {
      "parameters": {
        "person": "Mr5Mn_5Zl5",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        560,
        -208
      ],
      "id": "41180d2e-6d33-4c90-aa4b-4d4628a70fe4",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "P6cg4IoesojoKAXa",
          "name": "LinkedIn account 3175"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Summarize Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Articles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Articles": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "483a3245-05ed-4d3f-8820-dd186252f3e4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "969257b09ad2942bbaff2e2288304f4969030574d109cdeca05bf11f630884df"
  },
  "id": "1fpe0MkPq2hckfGH",
  "tags": []
}